/* HERO SECTION */

.hero-section {
  height: 80vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.637)),
    url("img/web-development.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-shadow: 2px 2px 3px #0c021d;
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
}

span {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(30px);
  display: inline-block;
  color: #99177d;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
  color: white;
}

.cta {
  display: flex;
  margin: 0 auto;
  padding: 16px 32px;
  font-size: 24px;
  border: none;
  background-color: rgb(134, 24, 112);
  color: #f1f1f1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 150ms ease-in;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.342);
  font-family: "IBM Plex Sans", sans-serif;
  opacity: 0;
  animation: animate 0.5s ease-in forwards;
  animation-delay: 0.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta:hover {
  background-color: #9b177e;

  cursor: pointer;
  color: #ffffff;
}

.cta:active {
  transform: scale(0.99);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.342);
}

/* CAROUSEL SECTION 1*/
.cell-container {
  padding: 20px;
  transition: all 350ms ease-in;
}

.carousel-1 {
  background: #fafafa;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.carousel-1:after,
.carousel-2:after {
  content: "flickity";
  display: none;
}

.carousel-cell {
  width: 66%;
  height: 415px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #851870;
  filter: grayscale(80%);
  transition: all 350ms ease-in;
  border-radius: 10px;
}

.carousel-cell:hover {
  filter: grayscale(50%);
}

.carousel-cell:before {
  display: block;
  content: "";
}

/* read more link */
.carousel-1 .read-more:link,
.carousel-1 .read-more:visited {
  text-decoration: none;
  transition: all 250ms ease-in;
  color: #fff;
  font-weight: bold;
}
.carousel-1 .read-more:hover {
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.774);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.carousel-cell img {
  width: 150px;
  object-fit: cover;
}

.tech-title:link,
.tech-title:visited {
  text-decoration: none;
}

.flickity-page-dots {
  bottom: 0px;
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 50%;
  left: 25%;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid black;
  border-radius: 50%;
}

.flickity-page-dots .dot.is-selected {
  background: black;
}

.flickity-viewport {
  height: 415px !important;
}

.carousel-cell.is-selected {
  filter: grayscale(30%);
}

.carousel-cell.is-selected:hover {
  filter: grayscale(0%);
  /* transform: scale(1.05) !important; */
}

.carousel-cell.is-selected:hover .cell-container:hover {
  transform: scale(1.02);
}

/* MODAL SECTION */

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.modal.display {
  visibility: visible;
  opacity: 1;
}
.modal-inner {
  position: relative;
}
.btn-close {
  position: absolute;
  right: 0;
  margin-top: -30px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: #eee;
  transition: all 150ms ease-in;
}

.btn-close:hover {
  cursor: pointer;
  color: #fff;
}
@media (max-width: 100em) {
  .hero-section {
    height: 80vh;
  }
}
